@import "../../../styles/scss/";

.modal {
  position: fixed;
  background-color: rgba($gray-15, 0.8);
  inset: 0;
  .modalContent {
    position: relative;
    background-color: $base-color;
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 3rem;
  }
  .modalClose {
    all: initial;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    font-size: 2rem;
    color: $secund-base-color;
    background-color: transparent;
    top: 1rem;
    right: 1rem;
  }
}
