@import "../../../../styles/scss/variables";

.services {
  font-size: 1.5rem;

  h1 {
    font-size: 2rem;
  }

  // Hero section
  .ParallaxContainer {
    position: relative;
    z-index: -1;
  }
  // Enables Parallax Scrolling. This will make the App be the scrolling element instead of the body.
  // Will cause problems with 'window.scroll` and element with fixed, sticky, absolute position.
  #scrollingPXcon {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    perspective-origin: 49.5% 36%;
    perspective: 1000px;
    .perspective3d {
      transform-style: preserve-3d; /* Enables the 3D perspective no the children of this container. */
    }
  }
  .subSectionHeading {
    text-align: center;
  }
  .servicesHero {
    position: relative;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backface-visibility: visible;

    .ParallaxElement {
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      justify-content: center;
      background-clip: content-box; // Prevents clipping of other elements showing up on this effect.
      height: 100%;
      z-index: -1;
    }

    #ParallaxBG {
      width: 100%;
      transform: translateZ(-1000px) scale(2.3);
      background-color: $base-color;
    }

    #ParallaxBohke {
      left: 10%;
      opacity: 0.4;
      backface-visibility: visible;
      transform: translateZ(200px);
    }

    #parallaxClover {
      right: 10%;
      transform: translateZ(-200px) scale(1.2);
    }

    #serviceHeaderContainer {
      text-transform: uppercase;
      padding: 1.5rem 2rem;
      padding-top: 4rem;
      background-color: transparent;

      h1 {
        font-family: Oxygen, sans-serif;
        position: relative;
        font-size: 3.5rem;
        font-weight: bold;
        color: $secund-base-color;
      }

      h2 {
        font-family: Oxygen, sans-serif;
        position: relative;
        opacity: 0;
        font-size: 2.5rem;

        &:nth-child(1) {
          animation-delay: 0.2s;
        }
        &:nth-child(2) {
          animation-delay: 0.5s;
        }
        &:nth-child(3) {
          animation-delay: 1s;
        }
        &:nth-child(4) {
          animation-delay: 1.5s;
        }
        &:nth-child(5) {
          animation-delay: 2s;
        }
      }
    }
  }
  // .servicesTextContainer {
  //   text-align: center;
  //   h1 {
  //     padding-top: 1rem;
  //   }
  // }
  // .servicesDescription {
  //   padding-bottom: 10px;
  //   p {
  //     max-width: 75rem;
  //     padding: 0 10px;
  //     text-align: center;
  //     font-weight: 400;
  //     font-size: 1.5rem;
  //   }
  // }

  // Skills section
  .skills {
    span {
      text-shadow: 1px 1px rgba(35, 35, 35, 0.5);
    }
    .servicesProg {
      max-width: 1100px;
      #servicesCards {
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 0;

        li {
          padding: 1rem;
          fieldset {
            position: relative;
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            // transform: translateZ(80px) scale(0.9);

            legend {
              text-align: right;
              padding-right: 1rem;
              span {
                font-size: 2em;
              }
            }
            h3 {
              font-weight: bold;
            }
            .cardHeader {
              background-color: transparent;
              & * {
                margin: 0 1.125rem;
              }
            }
            p {
              padding: 0 1rem;
            }
            img {
              padding: 0.625rem;
              max-height: 2rem;
              filter: grayscale(1) drop-shadow(0 2px 0.125rem $gray-15);
            }
            .cardContent {
              min-height: 17rem;
            }
          }
        }
      }
    }
  }
  // Contact Form

  #formSection {
    display: block;
    text-align: center;
    #contactForm {
      #formMessage {
        display: block;
        textarea {
          box-sizing: border-box;
          width: 100%;
          min-height: 10em;
        }
      }
    }
    button {
      background-color: $base-color;
    }
  }
}

// Bigger mobile
@media screen and (min-width: 425px) {
  .services {
    .servicesHero {
      #serviceHeaderContainer {
        padding-top: 4rem;
        h1 {
          font-size: 4rem;
        }
        h2 {
          font-size: 2.5rem;
        }
      }
    }
    .skills {
      span {
        text-shadow: 1px 1px rgba(35, 35, 35, 0.5);
      }
      .servicesProg {
        #servicesCards {
          margin: 1.5rem;
          li {
            transform-style: preserve-3d;
            fieldset {
              transform: translateZ(80px);
            }
          }
        }
      }
    }
  }
}
// Bigger then mobile
@media screen and (min-width: 768px) {
  .services {
    .servicesHero {
      min-height: 80vh !important;
      background-attachment: fixed;
      #serviceHeaderContainer {
        padding-top: 4rem;
        h1 {
          font-size: 6.5rem;
        }
        h2 {
          font-size: 4rem;
        }
      }
      #parallaxClover {
        right: -30%;
      }
    }
    // subImage
    #servicesMidPic {
      background-color: $secund-base-color;
      background-repeat: no-repeat, repeat;
      background-attachment: fixed;
      background-size: 65%, 100%;
      background-position: bottom right, bottom left;
      height: 15vw;
    }
    // Connect Form
    #formSection {
      display: flex;
      width: 100%;
      background-image: url(../../../../styles/img/logos/NavLogo/AlonNavLogoBlue.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 200%;
      justify-content: center;
      #formContainer {
        width: 100%;

        Form {
          position: relative;
          border-radius: 1rem;
          background-color: $gray-75;

          .formInputs {
            display: flex;
            #IdInputs {
              flex-grow: initial;
            }
            h3 {
              font-size: 1.5rem;
            }
            .formSection {
              align-self: flex-start;
              flex-grow: 1;
              #alignInputs {
                height: 39px;
              }
              .formInline {
                // padding: 1rem 0;
                input {
                  padding: 0.25rem;
                  font-size: 1.25rem;
                }
              }

              #formMessage {
                display: flex;
                padding-left: 00.5rem;
                textarea {
                  min-height: 10em;
                  padding: 00.25rem;
                  margin-left: 0.5rem;
                  font-size: 1.25rem;
                }
              }
            }
          }
          #formSubmit {
            position: absolute;
            padding-left: 75%;
            bottom: -30px;
          }
        }
      }
    }
  }
}

// Tablet
@media (max-height: 769px) and (min-width: 1023px) {
  .services {
    .servicesHero {
      #serviceHeaderContainer {
        padding-top: 4rem;
        font-size: 5rem;
      }
      #parallaxClover {
        right: 10%;
      }
    }

    //Contact Form
    #formSection {
      #formContainer {
        #contactForm {
          .formInputs {
            .formSection {
              #formMessage {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// Big screen
@media screen and (min-width: 1024px) {
  .services {
    font-size: 1.5rem;
    .pageHero {
      background-position-y: bottom !important;
      #serviceHeaderContainer {
        padding: 10vh 10vw;
        h1 {
          font-size: 8.5rem;
        }
        h2 {
          font-size: 5rem;
        }
      }
      #parallaxClover {
        right: 10%;
      }
    }
    .container {
      width: 100%;
    }
    // Skills section
    .skills {
      .servicesProg {
        #servicesCards {
          // width: 1100px;
          ul {
            gap: 0;
            li {
              padding: 1rem;

              fieldset {
                h3 {
                  font-size: 2rem;
                }

                legend {
                  span {
                    font-size: 2em;
                  }
                }
              }
            }
          }
        }
      }
    }
    //Contact Form
    #alignInputs {
      height: 0 !important;
    }
  }
}

// Animations
