body,html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 15px;
}

.progressContainer {
    margin: 10px;
    width: 500px;
}

.progress2 {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);  
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  
  .progress-bar2 {
    height: 10px;
    border-radius: 30px;
    background-image: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }
  
  .progress-bar2 {
      /* change level */
    width: 30%; 
    background-color: rgb(71, 130, 239);  
    animation: progress2Animation 6s;
  }

  @keyframes progress2Animation {
    0%   { width: 5%; background-color: rgb(249, 200, 188);}
      /* change level */
    100% { width: 30%; background-color: rgb(71, 130, 239); }
  }

  .progress1 {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);  
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  
  .progress-bar1 {
    height: 10px;
    border-radius: 30px;
    background-image: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }
  
  .progress-bar1 {
      /* change level */
    width: 50%; 
    background-color: rgb(71, 130, 239);  
    animation: progress1Animation 6s;
  }

  @keyframes progress1Animation {
    0%   { width: 5%; background-color: rgb(249, 200, 188);}
      /* change level */
    100% { width: 50%; background-color: rgb(71, 130, 239); }
  }