@import "../../styles//scss/variables";

#ImageStack {
  height: 100px;
  .imageSq {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 0 0.5rem;
    width: 100%;
    align-self: flex-start;
    img {
      position: absolute;
      margin: 0 auto;
      max-height: 100px;
      box-shadow: 0 0 0 3px $secund-base-color;
      transform: perspective(500px) rotateY(50deg) scale(0.5);
      &:hover {
        transform: scale(1) rotateY(0deg);

        z-index: 99;
      }

      transition: all ease-in-out 0.8s;
    }
  }
}
