@import "../../styles/scss/variables.scss";

// From full screen to mobile... ↓ Nooby mistake..

header {
  position: fixed;
  inset: 0 0 auto 0;
  // inset: 0;
  z-index: 99;

  .nav_Not_Top {
    background-color: $base-color !important;
    fill: $secund-base-color;
    color: $secund-base-color !important;
  }
}
#main_nav.nav_Not_Top {
  border-radius: unset !important;
  width: 100%;
}

#main_nav {
  // position: absolute;
  // inset: 0 15px auto 0;

  padding: 1rem 0;
  transition: padding 0.5s ease, background-color 0.5s ease;

  background-clip: padding-box; /* This will prevent a leak to the Hero because of the Absolute position and the Parallax Scrolling*/
  .navMain {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 1rem;
    .NavLogo {
      height: 100%;
      cursor: pointer;
    }
    .LogoContainer {
      z-index: 10;
    }
    .navLinksMain {
      .nav_links {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        z-index: 9;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
        li {
          position: relative;
          list-style-type: none;
        }

        :hover,
        .active {
          cursor: pointer;
          font-weight: 600;
        }
      }
      .nav_li_not_top {
        color: $secund-base-color;
      }
    }
    .navLinksShow {
      top: 64px;
    }
    .burger {
      cursor: pointer;
      z-index: 10;
    }
  }
}

// On tablet and smaller screens:
// Hide the menu
@media screen and (max-width: 768px) {
  #main_nav {
    background-color: $base-color;

    &::before {
      content: " ";
      // position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      top: 0;
      background-color: inherit;
    }
    .nav_links {
      // For bigger menus subtract from the top
      top: -200px;
      width: 100vw;
      overflow: hidden;
      z-index: -10;
      padding: 1rem 1.5rem;
      background-color: $base-color;
      color: $secund-base-color;
      position: fixed;
      left: 0;
      display: flex;
      flex-direction: column-reverse;
      transition: top 0.5s ease-out;
    }
    .nav_links::before {
      content: "";
      z-index: 10;
      position: fixed;
      inset: 0;
      height: 76px;
      background-color: inherit;
    }
  }
}

// For tablet and larger screen size
@media screen and (min-width: 768px) {
  #main_nav {
    position: relative;
    background-color: $base-color-rgb-20;

    max-width: 1100px;
    padding: 1em 1.25em;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 0 0 5em 5em/ 0 0 100% 100%;
    margin: 0 auto;
    &::before {
      content: "";
      position: absolute;
      border-radius: 0 0 5em 5em/ 0 0 100% 100%;
      display: block;
      background: linear-gradient(
        to top,
        $base-color-rgb-20 0%,
        $secund-base-color 100%
      );
      width: 100%;
      height: 100%;
      top: 0;
      left: -5px;
      z-index: -1;
      padding: 0 5px;
      // padding: 5px;
    }
    .navMain {
      padding-right: 20px;

      .nav_links {
        height: 100%;
        align-items: center;
        color: unset;
        display: flex;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.25rem;
        letter-spacing: 0.05rem;

        li {
          list-style-type: none;
          padding-left: 1rem;
        }
      }
    }
    .NavLogo {
      padding-left: 1rem;
      fill: inherit;
    }
  }
  .navbar_Top {
    background-color: transparent;

    .LogoContainer:hover {
      filter: drop-shadow(1px 2px 1px lighten($base-color-gray-15, 10%));
      transition: all 100ms linear;
    }
  }
}
@media screen and (min-width: 2000px) {
  header {
    //   inset: 0 0 0 auto;
    #main_nav {
      //     display: flex;

      //     flex-direction: column;
      //     border-radius: 100% 0 0 100% / 5em 0 0 5em;
      //     padding: 2em;
      //     &::before {
      //       border-radius: 100% 0 0 100% / 5em 0 0 5em;
      //     }
      .navMain {
        //       display: flex;
        //       flex-direction: column;
        //       .LogoContainer {
        //         display: flex;
        //         justify-content: flex-end;
        //       }
        ul {
          //         display: flex;
          //         align-items: flex-end;
          //         flex-direction: column;
          li {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
.nav_Not_Top {
  background-color: $base-color;
  fill: $secund-base-color;
  color: $secund-base-color;
}
#main_nav.nav_Not_Top {
  border-radius: unset;
  // width: 100%;
  max-width: unset;
}
