@import "elements.scss";

// Enables Parallax Scrolling. This will make the App be the scrolling element instead of the body.
// Will cause problems with 'window.scroll` and element with fixed, sticky, absolute position.
#scrollingPXcon {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  perspective-origin: 49.5% 36%;
  perspective: 1000px;
}

.App {
  height: 100%;
  .perspective3d {
    transform-style: preserve-3d; /* Enables the 3D perspective no the children of this container. */
  }
  .mainContainer {
    position: relative;
  }

  .card {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba($gray-35, 0.8), 0 10px 20px rgba($gray-35, 0.5);
    background: linear-gradient(
      50deg,
      lighten($secund-base-color, 16%) 30%,
      #38c4f2 100%
    );
    .cardHeader {
      width: 100%;
      & > * {
        padding: 1.125rem;
      }
    }
    .cardContent {
      font-family: Oxygen, "Arima Madurai", sans-serif;
      position: relative;
      isolation: isolate;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      width: 100%;

      min-height: calc(100% - 5rem);
      background-color: $opct-025;
      & > * {
        padding: 0.625rem;
      }
      &:before {
        content: "";
        position: absolute;
        z-index: -1;

        inset: 0;
        background: inherit;
      }
      &:before {
        filter: blur(0.75em);
      }
    }
  }
}

// Bigger then mobile
@media screen and (min-width: 768px) {
  .App {
    .mainContainer {
      padding-top: 0px;
    }
    .card {
      // font-size: 1.125rem;
      max-width: 20rem;
    }
  }
}
