@import "elements.scss";
.App {
  // height: 150vh;
  .mainContainer {
    position: relative;
  }
  .flexCenter {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .card {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba($gray-35, 0.8), 0 10px 20px rgba($gray-35, 0.5);

    .cardHeader {
      width: 100%;
      background-color: $opct-05;
      & > * {
        padding: 1.125rem;
      }
    }
    .cardContent {
      text-shadow: 1px 1px $gray-24;
      position: relative;
      isolation: isolate;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      width: 100%;
      color: white;
      min-height: calc(100% - 5rem);
      background: linear-gradient(
        50deg,
        lighten($secund-base-color, 10%) 30%,
        #38c4f2 100%
      );
      & > * {
        padding: 0.625rem;
      }
      &:before {
        content: "";
        position: absolute;
        z-index: -1;

        inset: 0;
        background: inherit;
      }
      &:before {
        filter: blur(0.75em);
      }
    }
  }
}

// Bigger then mobile
@media screen and (min-width: 768px) {
  .App {
    .mainContainer {
      padding-top: 0px;
    }
    .card {
      // font-size: 1.125rem;
      max-width: 20rem;
    }
  }
}
