@import "../../styles/scss/variables";

* {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Oxygen, "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Oxygen",
    "Segoe UI", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .App {
    .mainContainer {
      .pageHero {
        // A setup to start every page with a background and top.
        padding-top: 64px;
        height: calc(100vh - 64px);
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .subSection:nth-child(even) {
        background-color: lighten($base-color, 35%);
      }
      .subSection:nth-child(odd) {
        background-color: lighten($base-color, 50%);
      }
      .flexCenter {
        display: flex;
        justify-content: center;
        align-content: center;
      }
      .container {
        margin: 30px;
        padding: 10px;
        min-width: 300px;
        width: 1110px;
        border-radius: 10px;
        background-color: hsla(0, 0%, 100%, 0.5);
      }
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
}
// Big screen
@media screen and (min-width: 1024px) {
}
